

VITE_SUPABASE_URL=https://hinyfdtvcfrbknlewwxt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhpbnlmZHR2Y2ZyYmtubGV3d3h0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3Njg2OTAsImV4cCI6MjA5NTM0NDY5MH0.d-TJqm68wTCMaN_s_jgZ-Ro4bbr5AbLelueafWh2HH4
VITE_CONTRACT_ADDRESS=0x049a443e7453F16C74229BF188B3A939e2753204
VITE_N8N_WEBHOOK_URL=https://hook.eu1.make.com/2aw4xbbf2dfcgunoqhbu9kuvhpt3u64i
VITE_ADMIN_EMAIL=priyanshupatil336@gmail.com
